.se-sites-link {
    display: inline-block;
    padding: 0;
    left: auto;
    margin-right: 10px;

    &__text {
        color: fd-color('text', 2);
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            color: fd-color('text', 2);
        }
    }

    &__arrow {
        vertical-align: middle;
        color: fd-color('text', 2);
        padding: 0 10px;
        @include fd-type('-1');
    }
}
