# Project exclude paths
/custom/training/trainingbackoffice/.externalToolBuilders/
/custom/training/trainingbackoffice/.settings/
/custom/training/trainingbackoffice/backoffice/classes/
/custom/training/trainingbackoffice/classes/
/custom/training/trainingcore/.externalToolBuilders/
/custom/training/trainingcore/.settings/
/custom/training/trainingcore/classes/
/custom/training/trainingfacades/.externalToolBuilders/
/custom/training/trainingfacades/.settings/
/custom/training/trainingfacades/classes/
/custom/training/traininginitialdata/.externalToolBuilders/
/custom/training/traininginitialdata/.settings/
/custom/training/traininginitialdata/classes/
/custom/training/trainingstorefront/.externalToolBuilders/
/custom/training/trainingstorefront/.settings/
/custom/training/trainingstorefront/web/addonsrc/
/custom/training/trainingstorefront/web/commonwebsrc/
/custom/training/trainingstorefront/web/testclasses/
/custom/training/trainingstorefront/web/webroot/WEB-INF/classes/
/custom/training/trainingtest/.externalToolBuilders/
/custom/training/trainingtest/.settings/
/custom/training/trainingtest/classes/
/modules/adaptive-search/adaptivesearch/.settings/
/modules/adaptive-search/adaptivesearchbackoffice/.settings/
/modules/adaptive-search/adaptivesearchfacades/.settings/
/modules/adaptive-search/adaptivesearchsamplesaddon/.settings/
/modules/adaptive-search/adaptivesearchsolr/.settings/
/modules/adaptive-search/adaptivesearchwebservices/.settings/
/modules/api-registry/apiregistrybackoffice/.externalToolBuilders/
/modules/api-registry/apiregistrybackoffice/backoffice/classes/
/modules/api-registry/apiregistryservices/.externalToolBuilders/
/modules/assisted-services/assistedservicecustomerinterestsaddon/.externalToolBuilders/
/modules/assisted-services/assistedservicecustomerinterestsaddon/.settings/
/modules/assisted-services/assistedservicecustomerinterestsfacades/.externalToolBuilders/
/modules/assisted-services/assistedservicecustomerinterestsfacades/.settings/
/modules/assisted-services/assistedservicefacades/.externalToolBuilders/
/modules/assisted-services/assistedservicefacades/.settings/
/modules/assisted-services/assistedservicepromotionaddon/.externalToolBuilders/
/modules/assisted-services/assistedservicepromotionaddon/.settings/
/modules/assisted-services/assistedservicepromotionfacades/.externalToolBuilders/
/modules/assisted-services/assistedservicepromotionfacades/.settings/
/modules/assisted-services/assistedserviceservices/.externalToolBuilders/
/modules/assisted-services/assistedserviceservices/.settings/
/modules/assisted-services/assistedservicestorefront/.externalToolBuilders/
/modules/assisted-services/assistedservicestorefront/.settings/
/modules/assisted-services/assistedservicewebservices/.settings/
/modules/assisted-services/assistedservicewebservices/web/testclasses/
/modules/assisted-services-integrations/assistedserviceyprofileaddon/.externalToolBuilders/
/modules/assisted-services-integrations/assistedserviceyprofileaddon/.settings/
/modules/assisted-services-integrations/assistedserviceyprofilefacades/.externalToolBuilders/
/modules/assisted-services-integrations/assistedserviceyprofilefacades/.settings/
/modules/assisted-services-integrations/yaasyprofileconnect/.externalToolBuilders/
/modules/assisted-services-integrations/yaasyprofileconnect/.settings/
/modules/b2b-accelerator/b2bacceleratoraddon/.externalToolBuilders/
/modules/b2b-accelerator/b2bacceleratoraddon/.settings/
/modules/b2b-accelerator/b2bacceleratorfacades/.externalToolBuilders/
/modules/b2b-accelerator/b2bacceleratorfacades/.settings/
/modules/b2b-accelerator/b2bacceleratorservices/.externalToolBuilders/
/modules/b2b-accelerator/b2bacceleratorservices/.settings/
/modules/b2b-accelerator/b2bocc/.externalToolBuilders/
/modules/b2b-accelerator/b2bocc/.settings/
/modules/b2b-accelerator/b2bocctests/.externalToolBuilders/
/modules/b2b-accelerator/b2bocctests/.settings/
/modules/b2b-accelerator/b2bwebservicescommons/.externalToolBuilders/
/modules/b2b-accelerator/b2bwebservicescommons/.settings/
/modules/b2b-accelerator/commerceorgaddon/.externalToolBuilders/
/modules/b2b-accelerator/commerceorgaddon/.settings/
/modules/b2b-accelerator/commerceorgsamplesaddon/.externalToolBuilders/
/modules/b2b-accelerator/commerceorgsamplesaddon/.settings/
/modules/b2b-accelerator/powertoolsstore/.externalToolBuilders/
/modules/b2b-accelerator/powertoolsstore/.settings/
/modules/b2b-accelerator-addons/accountsummaryaddon/.externalToolBuilders/
/modules/b2b-accelerator-addons/accountsummaryaddon/.settings/
/modules/b2b-accelerator-addons/accountsummaryaddon/web/addonsrc/
/modules/b2b-accelerator-addons/b2bpunchout/.settings/
/modules/b2b-accelerator-addons/b2bpunchoutaddon/.externalToolBuilders/
/modules/b2b-accelerator-addons/b2bpunchoutaddon/.settings/
/modules/b2b-accelerator-addons/savedorderforms/.externalToolBuilders/
/modules/b2b-accelerator-addons/savedorderforms/.settings/
/modules/b2b-accelerator-addons/savedorderformsocc/.settings/
/modules/b2b-accelerator-addons/secureportaladdon/.externalToolBuilders/
/modules/b2b-accelerator-addons/secureportaladdon/.settings/
/modules/b2b-commerce/b2bapprovalprocess/.externalToolBuilders/
/modules/b2b-commerce/b2bapprovalprocess/.settings/
/modules/b2b-commerce/b2bapprovalprocessfacades/.externalToolBuilders/
/modules/b2b-commerce/b2bapprovalprocessfacades/.settings/
/modules/b2b-commerce/b2bcommerce/.externalToolBuilders/
/modules/b2b-commerce/b2bcommerce/.settings/
/modules/b2b-commerce/b2bcommercebackoffice/.settings/
/modules/b2b-commerce/b2bcommercefacades/.externalToolBuilders/
/modules/b2b-commerce/b2bcommercefacades/.settings/
/modules/b2c-accelerator/apparelstore/.externalToolBuilders/
/modules/b2c-accelerator/apparelstore/.settings/
/modules/b2c-accelerator/electronicsstore/.externalToolBuilders/
/modules/b2c-accelerator/electronicsstore/.settings/
/modules/b2c-accelerator-addons/captchaaddon/.externalToolBuilders/
/modules/b2c-accelerator-addons/captchaaddon/.settings/
/modules/b2c-accelerator-addons/wishlist/.settings/
/modules/backoffice-addons/pcmbackofficesamplesaddon/.externalToolBuilders/
/modules/backoffice-addons/pcmbackofficesamplesaddon/.settings/
/modules/backoffice-applications/mediaconversionbackoffice/.settings/
/modules/backoffice-applications/patchesbackoffice/.settings/
/modules/backoffice-applications/pcmbackoffice/.settings/
/modules/backoffice-framework/backoffice/.settings/
/modules/backoffice-framework/backoffice/web/testclasses/
/modules/backoffice-framework/backofficesolrsearch/.settings/
/modules/backoffice-framework/platformbackoffice/.settings/
/modules/backoffice-framework/ybackoffice/.externalToolBuilders/
/modules/backoffice-framework/ybackoffice/.settings/
/modules/backoffice-framework/ybackoffice/backoffice/classes/
/modules/base-accelerator/yaddon/.externalToolBuilders/
/modules/base-accelerator/yaddon/.settings/
/modules/base-commerce/basecommerce/.settings/
/modules/base-commerce/basecommercebackoffice/.settings/
/modules/base-commerce/customerreview/.settings/
/modules/base-commerce/payment/.settings/
/modules/base-commerce/promotions/.settings/
/modules/base-commerce/promotionsbackoffice/.externalToolBuilders/
/modules/base-commerce/promotionsbackoffice/.settings/
/modules/base-commerce/promotionsbackoffice/backoffice/classes/
/modules/base-commerce/voucher/.settings/
/modules/base-commerce/voucherbackoffice/.settings/
/modules/cds-merchandising/merchandisingcmswebservices/web/testclasses/
/modules/cds-merchandising/merchandisingservicesbackoffice/backoffice/classes/
/modules/cds-merchandising/merchandisingsmartedit/smartedit-custom-build/
/modules/china-accelerator-addons/chinesecommercewebservicescommons/.externalToolBuilders/
/modules/china-accelerator-addons/chinesecommercewebservicescommons/.settings/
/modules/cockpit-applications/deprecated/admincockpit/.settings/
/modules/cockpit-core/deprecated/cockpit/.settings/
/modules/commerce-services/commercefacades/.externalToolBuilders/
/modules/commerce-services/commercefacades/.settings/
/modules/commerce-services/commerceservices/.externalToolBuilders/
/modules/commerce-services/commerceservices/.settings/
/modules/commerce-services/commerceservicesbackoffice/.settings/
/modules/commerce-services/commercewebservices/.externalToolBuilders/
/modules/commerce-services/commercewebservices/.settings/
/modules/commerce-services/commercewebservices/web/testclasses/
/modules/commerce-services/commercewebservicescommons/.externalToolBuilders/
/modules/commerce-services/commercewebservicescommons/.settings/
/modules/commerce-services/commercewebservicestests/.externalToolBuilders/
/modules/commerce-services/commercewebservicestests/.settings/
/modules/commerce-services/yocc/.externalToolBuilders/
/modules/commerce-services/yocc/.settings/
/modules/commerce-services/yocctests/.externalToolBuilders/
/modules/commerce-services/yocctests/.settings/
/modules/configurable-bundle/configurablebundleaddon/.externalToolBuilders/
/modules/configurable-bundle/configurablebundleaddon/.settings/
/modules/configurable-bundle/configurablebundlebackoffice/.settings/
/modules/configurable-bundle/configurablebundlefacades/.externalToolBuilders/
/modules/configurable-bundle/configurablebundlefacades/.settings/
/modules/configurable-bundle/configurablebundleocc/.externalToolBuilders/
/modules/configurable-bundle/configurablebundleocc/.settings/
/modules/configurable-bundle/configurablebundleocctests/.externalToolBuilders/
/modules/configurable-bundle/configurablebundleocctests/.settings/
/modules/configurable-bundle/configurablebundleservices/.externalToolBuilders/
/modules/configurable-bundle/configurablebundleservices/.settings/
/modules/configurator-complex-products/sapproductconfigb2baddon/.externalToolBuilders/
/modules/configurator-complex-products/sapproductconfigb2baddon/.settings/
/modules/configurator-complex-products/sapproductconfigb2bservices/.externalToolBuilders/
/modules/configurator-complex-products/sapproductconfigb2bservices/.settings/
/modules/configurator-complex-products/sapproductconfigfacades/.externalToolBuilders/
/modules/configurator-complex-products/sapproductconfigfacades/.settings/
/modules/configurator-complex-products/sapproductconfigocc/.settings/
/modules/configurator-complex-products/sapproductconfigrules/.externalToolBuilders/
/modules/configurator-complex-products/sapproductconfigrules/.settings/
/modules/configurator-complex-products/sapproductconfigrulesbackoffice/.externalToolBuilders/
/modules/configurator-complex-products/sapproductconfigrulesbackoffice/.settings/
/modules/configurator-complex-products/sapproductconfigrulesbackoffice/backoffice/classes/
/modules/configurator-complex-products/sapproductconfigruntimeinterface/.externalToolBuilders/
/modules/configurator-complex-products/sapproductconfigruntimeinterface/.settings/
/modules/configurator-complex-products/sapproductconfigruntimemock/.externalToolBuilders/
/modules/configurator-complex-products/sapproductconfigruntimemock/.settings/
/modules/configurator-complex-products/sapproductconfigservices/.externalToolBuilders/
/modules/configurator-complex-products/sapproductconfigservices/.settings/
/modules/configurator-complex-products/ysapproductconfigaddon/.externalToolBuilders/
/modules/configurator-complex-products/ysapproductconfigaddon/.settings/
/modules/consignment-tracking/consignmenttrackingaddon/.externalToolBuilders/
/modules/consignment-tracking/consignmenttrackingaddon/.settings/
/modules/consignment-tracking/consignmenttrackingbackoffice/.settings/
/modules/consignment-tracking/consignmenttrackingfacades/.externalToolBuilders/
/modules/consignment-tracking/consignmenttrackingfacades/.settings/
/modules/consignment-tracking/consignmenttrackingmock/.externalToolBuilders/
/modules/consignment-tracking/consignmenttrackingmock/.settings/
/modules/consignment-tracking/consignmenttrackingocc/.settings/
/modules/consignment-tracking/consignmenttrackingservices/.externalToolBuilders/
/modules/consignment-tracking/consignmenttrackingservices/.settings/
/modules/core-accelerator/acceleratorbackoffice/.settings/
/modules/core-accelerator/acceleratorcms/.externalToolBuilders/
/modules/core-accelerator/acceleratorcms/.settings/
/modules/core-accelerator/acceleratorfacades/.externalToolBuilders/
/modules/core-accelerator/acceleratorfacades/.settings/
/modules/core-accelerator/acceleratorocc/.externalToolBuilders/
/modules/core-accelerator/acceleratorocc/.settings/
/modules/core-accelerator/acceleratorservices/.externalToolBuilders/
/modules/core-accelerator/acceleratorservices/.settings/
/modules/core-accelerator/acceleratorservices/web/testclasses/
/modules/core-accelerator/acceleratorstorefrontcommons/.externalToolBuilders/
/modules/core-accelerator/acceleratorstorefrontcommons/.settings/
/modules/core-accelerator/addonsupport/.externalToolBuilders/
/modules/core-accelerator/addonsupport/.settings/
/modules/coupon/couponbackoffice/.externalToolBuilders/
/modules/coupon/couponbackoffice/.settings/
/modules/coupon/couponbackoffice/backoffice/classes/
/modules/coupon/couponfacades/.settings/
/modules/coupon/couponservices/.settings/
/modules/coupon/couponwebservices/.settings/
/modules/customer-coupon/customercouponaddon/.settings/
/modules/customer-coupon/customercouponbackoffice/.settings/
/modules/customer-coupon/customercouponfacades/.settings/
/modules/customer-coupon/customercouponocc/.externalToolBuilders/
/modules/customer-coupon/customercouponocc/.settings/
/modules/customer-coupon/customercouponsamplesaddon/.settings/
/modules/customer-coupon/customercouponservices/.settings/
/modules/customer-interest/customerinterestsaddon/.externalToolBuilders/
/modules/customer-interest/customerinterestsaddon/.settings/
/modules/customer-interest/customerinterestsfacades/.externalToolBuilders/
/modules/customer-interest/customerinterestsfacades/.settings/
/modules/customer-interest/customerinterestsocc/.externalToolBuilders/
/modules/customer-interest/customerinterestsocc/.settings/
/modules/customer-interest/customerinterestsservices/.externalToolBuilders/
/modules/customer-interest/customerinterestsservices/.settings/
/modules/customer-service/customersupportbackoffice/.externalToolBuilders/
/modules/customer-service/customersupportbackoffice/.settings/
/modules/customer-service/customerticketingaddon/.externalToolBuilders/
/modules/customer-service/customerticketingaddon/.settings/
/modules/customer-service/customerticketingfacades/.externalToolBuilders/
/modules/customer-service/customerticketingfacades/.settings/
/modules/customer-service/ticketsystem/.settings/
/modules/customer-service/ticketsystembackoffice/.settings/
/modules/data-hub-adapter/datahubadapter/.externalToolBuilders/
/modules/data-hub-adapter/datahubadapter/.settings/
/modules/data-hub-adapter/datahubclient/.settings/
/modules/data-hub-adapter/dataimportcommons/.settings/
/modules/entitlements/entitlementbackoffice/.externalToolBuilders/
/modules/entitlements/entitlementbackoffice/.settings/
/modules/entitlements/entitlementfacades/.externalToolBuilders/
/modules/entitlements/entitlementfacades/.settings/
/modules/entitlements/entitlementservices/.externalToolBuilders/
/modules/entitlements/entitlementservices/.settings/
/modules/integration-apis/inboundservices/.externalToolBuilders/
/modules/integration-apis/inboundservices/.settings/
/modules/integration-apis/integrationbackoffice/.settings/
/modules/integration-apis/integrationbackoffice/backoffice/classes/
/modules/integration-apis/integrationbackofficetest/.externalToolBuilders/
/modules/integration-apis/integrationbackofficetest/.settings/
/modules/integration-apis/integrationbackofficetest/backoffice/classes/
/modules/integration-apis/integrationmonitoringbackoffice/.settings/
/modules/integration-apis/integrationmonitoringbackoffice/backoffice/classes/
/modules/integration-apis/integrationservices/.externalToolBuilders/
/modules/integration-apis/integrationservices/.settings/
/modules/integration-apis/odata2services/.externalToolBuilders/
/modules/integration-apis/odata2services/.settings/
/modules/integration-apis/odata2webservices/.externalToolBuilders/
/modules/integration-apis/odata2webservices/.settings/
/modules/integration-apis/odata2webservices/web/testclasses/
/modules/integration-apis/odata2webservicesfeaturetests/.externalToolBuilders/
/modules/integration-apis/odata2webservicesfeaturetests/.settings/
/modules/integration-apis/outboundservices/.externalToolBuilders/
/modules/integration-apis/outboundservices/.settings/
/modules/integration-apis/outboundsync/.externalToolBuilders/
/modules/integration-apis/outboundsync/.settings/
/modules/integration-apis/outboundsyncbackoffice/.settings/
/modules/integration-apis/outboundsyncbackoffice/backoffice/classes/
/modules/integration-apis/webhookbackoffice/.externalToolBuilders/
/modules/integration-apis/webhookbackoffice/backoffice/classes/
/modules/integration-apis/webhookservices/.externalToolBuilders/
/modules/messagecenter/messagecentercsfacades/.settings/
/modules/messagecenter/messagecentercsocc/.externalToolBuilders/
/modules/messagecenter/messagecentercsocc/.settings/
/modules/messagecenter/messagecentercsservices/.settings/
/modules/notification/notificationaddon/.externalToolBuilders/
/modules/notification/notificationaddon/.settings/
/modules/notification/notificationfacades/.externalToolBuilders/
/modules/notification/notificationfacades/.settings/
/modules/notification/notificationocc/.externalToolBuilders/
/modules/notification/notificationocc/.settings/
/modules/notification/notificationservices/.externalToolBuilders/
/modules/notification/notificationservices/.settings/
/modules/npm-ancillary/npmancillary/.externalToolBuilders/
/modules/npm-ancillary/npmancillary/.settings/
/modules/order-management/b2bordermanagementfacades/.externalToolBuilders/
/modules/order-management/b2bordermanagementfacades/.settings/
/modules/order-management/b2bordermanagementwebservices/.externalToolBuilders/
/modules/order-management/b2bordermanagementwebservices/.settings/
/modules/order-management/ordermanagementaddon/.externalToolBuilders/
/modules/order-management/ordermanagementaddon/.settings/
/modules/order-management/ordermanagementfacades/.externalToolBuilders/
/modules/order-management/ordermanagementfacades/.settings/
/modules/order-management/ordermanagementwebservices/.externalToolBuilders/
/modules/order-management/ordermanagementwebservices/.settings/
/modules/order-management/orderselfserviceaddon/.externalToolBuilders/
/modules/order-management/orderselfserviceaddon/.settings/
/modules/order-management/warehousing/.settings/
/modules/order-management/warehousingbackoffice/.settings/
/modules/order-management/warehousingfacades/.externalToolBuilders/
/modules/order-management/warehousingfacades/.settings/
/modules/order-management/warehousingwebservices/.externalToolBuilders/
/modules/order-management/warehousingwebservices/.settings/
/modules/order-management/yacceleratorordermanagement/.settings/
/modules/personalization/personalizationcms/.settings/
/modules/personalization/personalizationcmsbackoffice/.settings/
/modules/personalization/personalizationcmsweb/.settings/
/modules/personalization/personalizationfacades/.settings/
/modules/personalization/personalizationsampledataaddon/.settings/
/modules/personalization/personalizationservices/.settings/
/modules/personalization/personalizationservicesbackoffice/.settings/
/modules/personalization/personalizationsmartedit/.settings/
/modules/personalization/personalizationsmartedit/smartedit-custom-build/
/modules/personalization/personalizationwebservices/.settings/
/modules/personalization/personalizationwebservices/web/testclasses/
/modules/personalization/previewpersonalizationweb/.settings/
/modules/personalization-integration/personalizationaddon/.settings/
/modules/personalization-integration/personalizationintegration/.settings/
/modules/personalization-integration/personalizationintegrationbackoffice/.settings/
/modules/personalization-integration/personalizationyprofile/.settings/
/modules/personalization-integration/personalizationyprofilesampledataaddon/.settings/
/modules/personalization-promotion/personalizationpromotions/.settings/
/modules/personalization-promotion/personalizationpromotionsbackoffice/.settings/
/modules/personalization-promotion/personalizationpromotionssampledataaddon/.settings/
/modules/personalization-promotion/personalizationpromotionssmartedit/.settings/
/modules/personalization-promotion/personalizationpromotionssmartedit/smartedit-custom-build/
/modules/personalization-promotion/personalizationpromotionsweb/.settings/
/modules/personalization-search/personalizationsearch/.settings/
/modules/personalization-search/personalizationsearchbackoffice/.settings/
/modules/personalization-search/personalizationsearchsamplesaddon/.externalToolBuilders/
/modules/personalization-search/personalizationsearchsamplesaddon/.settings/
/modules/personalization-search/personalizationsearchsmartedit/.settings/
/modules/personalization-search/personalizationsearchsmartedit/smartedit-custom-build/
/modules/personalization-search/personalizationsearchweb/.settings/
/modules/platform/adminapi/.settings/
/modules/platform/auditreportservices/.settings/
/modules/platform/deltadetection/.settings/
/modules/platform/embeddedserver/.settings/
/modules/platform/groovynature/.externalToolBuilders/
/modules/platform/groovynature/.settings/
/modules/platform/mediaconversion/.settings/
/modules/platform/patches/.settings/
/modules/platform/tomcatembeddedserver/.settings/
/modules/platform/yempty/.externalToolBuilders/
/modules/platform/yempty/.settings/
/modules/platform/yvoid/.settings/
/modules/promotion-engine/promotionenginebackoffice/.externalToolBuilders/
/modules/promotion-engine/promotionenginebackoffice/.settings/
/modules/promotion-engine/promotionenginebackoffice/backoffice/classes/
/modules/promotion-engine/promotionenginesamplesaddon/.settings/
/modules/promotion-engine/promotionengineservices/.settings/
/modules/rule-engine/droolsruleengineservices/.settings/
/modules/rule-engine/ordercalculation/.settings/
/modules/rule-engine/rulebuilderbackoffice/.externalToolBuilders/
/modules/rule-engine/rulebuilderbackoffice/.settings/
/modules/rule-engine/rulebuilderbackoffice/backoffice/classes/
/modules/rule-engine/ruledefinitions/.settings/
/modules/rule-engine/ruleengine/.settings/
/modules/rule-engine/ruleenginebackoffice/.externalToolBuilders/
/modules/rule-engine/ruleenginebackoffice/.settings/
/modules/rule-engine/ruleenginebackoffice/backoffice/classes/
/modules/rule-engine/ruleengineservices/.settings/
/modules/sap-cloud-platform-extension-factory-integration/kymaintegrationbackoffice/.externalToolBuilders/
/modules/sap-cloud-platform-extension-factory-integration/kymaintegrationbackoffice/backoffice/classes/
/modules/sap-cloud-platform-extension-factory-integration/kymaintegrationservices/.externalToolBuilders/
/modules/search-and-navigation/solrfacetsearch/.settings/
/modules/search-and-navigation/solrfacetsearchbackoffice/.settings/
/modules/search-and-navigation/solrserver/.settings/
/modules/search-services/searchbackoffice/.externalToolBuilders/
/modules/search-services/searchbackoffice/.settings/
/modules/search-services/searchbackoffice/backoffice/classes/
/modules/search-services/searchprovidercssearchbackoffice/.externalToolBuilders/
/modules/search-services/searchprovidercssearchbackoffice/.settings/
/modules/search-services/searchprovidercssearchservices/.externalToolBuilders/
/modules/search-services/searchprovidercssearchservices/.settings/
/modules/search-services/searchservices/.externalToolBuilders/
/modules/search-services/searchservices/.settings/
/modules/selective-cart/selectivecartfacades/.settings/
/modules/selective-cart/selectivecartservices/.settings/
/modules/selective-cart/selectivecartsplitlistaddon/.externalToolBuilders/
/modules/selective-cart/selectivecartsplitlistaddon/.settings/
/modules/smartedit/cmssmartedit/smartedit-custom-build/
/modules/smartedit/cmssmarteditwebservices/.settings/
/modules/smartedit/cmssmarteditwebservices/web/testclasses/
/modules/smartedit/smartedit/.settings/
/modules/smartedit/smartedit/smartedit-build/
/modules/smartedit/smartedit/smartedit-custom-build/
/modules/smartedit/smartedit/web/testclasses/
/modules/smartedit/smarteditaddon/.externalToolBuilders/
/modules/smartedit/smarteditaddon/.settings/
/modules/smartedit/smarteditwebservices/.externalToolBuilders/
/modules/smartedit/smarteditwebservices/.settings/
/modules/smartedit/smarteditwebservices/web/testclasses/
/modules/stock-notification/stocknotificationaddon/.externalToolBuilders/
/modules/stock-notification/stocknotificationaddon/.settings/
/modules/stock-notification/stocknotificationfacades/.externalToolBuilders/
/modules/stock-notification/stocknotificationfacades/.settings/
/modules/stock-notification/stocknotificationservices/.externalToolBuilders/
/modules/stock-notification/stocknotificationservices/.settings/
/modules/subscription-bundles/subscriptionbundlebackoffice/.settings/
/modules/subscription-bundles/subscriptionbundlefacades/.externalToolBuilders/
/modules/subscription-bundles/subscriptionbundlefacades/.settings/
/modules/subscription-bundles/subscriptionbundleservices/.externalToolBuilders/
/modules/subscription-bundles/subscriptionbundleservices/.settings/
/modules/subscriptions/subscriptionbackoffice/.settings/
/modules/subscriptions/subscriptionfacades/.externalToolBuilders/
/modules/subscriptions/subscriptionfacades/.settings/
/modules/subscriptions/subscriptionservices/.externalToolBuilders/
/modules/subscriptions/subscriptionservices/.settings/
/modules/text-field-configurator-template/textfieldconfiguratortemplateaddon/.externalToolBuilders/
/modules/text-field-configurator-template/textfieldconfiguratortemplateaddon/.settings/
/modules/text-field-configurator-template/textfieldconfiguratortemplatebackoffice/.externalToolBuilders/
/modules/text-field-configurator-template/textfieldconfiguratortemplatebackoffice/.settings/
/modules/text-field-configurator-template/textfieldconfiguratortemplatefacades/.externalToolBuilders/
/modules/text-field-configurator-template/textfieldconfiguratortemplatefacades/.settings/
/modules/text-field-configurator-template/textfieldconfiguratortemplateocc/.settings/
/modules/text-field-configurator-template/textfieldconfiguratortemplateocctests/.settings/
/modules/text-field-configurator-template/textfieldconfiguratortemplateservices/.externalToolBuilders/
/modules/text-field-configurator-template/textfieldconfiguratortemplateservices/.settings/
/modules/timed-access-promotion-engine/timedaccesspromotionengineaddon/.settings/
/modules/timed-access-promotion-engine/timedaccesspromotionenginebackoffice/.settings/
/modules/timed-access-promotion-engine/timedaccesspromotionenginefacades/.settings/
/modules/timed-access-promotion-engine/timedaccesspromotionengineocc/.externalToolBuilders/
/modules/timed-access-promotion-engine/timedaccesspromotionengineocc/.settings/
/modules/timed-access-promotion-engine/timedaccesspromotionenginesamplesaddon/.settings/
/modules/timed-access-promotion-engine/timedaccesspromotionengineservices/.settings/
/modules/web-content-management-system/cms2/.settings/
/modules/web-content-management-system/cms2lib/.settings/
/modules/web-content-management-system/cmsbackoffice/.settings/
/modules/web-content-management-system/cmsfacades/.settings/
/modules/web-content-management-system/cmsocc/.externalToolBuilders/
/modules/web-content-management-system/cmsocc/.settings/
/modules/web-content-management-system/cmswebservices/.settings/
/modules/web-content-management-system/cmswebservices/web/testclasses/
/modules/web-content-management-system/deprecated/cmscockpit/.settings/
/modules/web-content-management-system/previewwebservices/.settings/
/modules/web-content-management-system/previewwebservices/web/testclasses/
/modules/web-services-commons/permissionsfacades/.settings/
/modules/web-services-commons/permissionswebservices/.settings/
/modules/web-services-commons/webservicescommons/.settings/
/modules/web-services-commons/ywebservices/.settings/
/modules/yforms/orbeonweb/.externalToolBuilders/
/modules/yforms/orbeonweb/.settings/
/modules/yforms/xyformsbackoffice/.externalToolBuilders/
/modules/yforms/xyformsbackoffice/.settings/
/modules/yforms/xyformsbackoffice/backoffice/classes/
/modules/yforms/xyformsfacades/.externalToolBuilders/
/modules/yforms/xyformsfacades/.settings/
/modules/yforms/xyformssamples/.externalToolBuilders/
/modules/yforms/xyformssamples/.settings/
/modules/yforms/xyformsservices/.externalToolBuilders/
/modules/yforms/xyformsservices/.settings/
/modules/yforms/xyformsstorefrontcommons/.externalToolBuilders/
/modules/yforms/xyformsstorefrontcommons/.settings/
/modules/yforms/xyformsweb/.externalToolBuilders/
/modules/yforms/xyformsweb/.settings/
/modules/yforms/xyformsweb/web/testclasses/
/platform/.externalToolBuilders/
/platform/.settings/
/platform/bootstrap/modelclasses/
/platform/eclipsebin/
/platform/ext/advancedsavedquery/.settings/
/platform/ext/catalog/.settings/
/platform/ext/comments/.settings/
/platform/ext/commons/.settings/
/platform/ext/core/.settings/
/platform/ext/deliveryzone/.settings/
/platform/ext/europe1/.settings/
/platform/ext/hac/.settings/
/platform/ext/hac/web/testclasses/
/platform/ext/impex/.settings/
/platform/ext/maintenanceweb/.settings/
/platform/ext/mediaweb/.settings/
/platform/ext/oauth2/.settings/
/platform/ext/paymentstandard/.settings/
/platform/ext/platformservices/.settings/
/platform/ext/scripting/.settings/
/platform/ext/testweb/.settings/
/platform/ext/testweb/web/testclasses/
/platform/ext/validation/.settings/
/platform/ext/workflow/.settings/
/platform/tomcat/