<!DOCTYPE html>
<html>
    <head>
        <!--3rd prty libs-->
        <script src="../../../web/webroot/static-resources/dist/smarteditcontainer/js/thirdparties.js"></script>
        <script src="../../../web/webroot/static-resources/dist/smarteditcommons/js/vendor_chunk.js"></script>
        <script src="../../../web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

        <!--libs-->
        <script src="../../../web/webroot/static-resources/dist/smarteditcommons/js/smarteditcommons.js"></script>
        <script src="../../../test/e2e/utils/commonMockedModules/generated_outerI18nMock.js"></script>
        <script src="../../../test/e2e/utils/commonMockedModules/generated_outerGlobalBasePathFetchMock.js"></script>
        <script src="../../../web/webroot/static-resources/dist/smarteditcontainer/js/smarteditcontainer.js"></script>
        <script src="../../../test/e2e/utils/generated_outerLegacyCustomAppBootstrap.js"></script>

        <!--Mocks-->
        <base href="../../../" />

        <script src="/test/e2e/tabset/tabsetApp.js"></script>
        <script src="/test/e2e/tabset/backendMocks.js"></script>

        <style>
            .selectize-control > .selectize-dropdown {
                top: 36px;
            }

            .ui-select-focusser {
                display: none;
            }

            .select2-container .select2-choice {
                height: auto;
            }

            .thumbnail {
                width: 64px;
                display: inline;
            }

            body {
                background-color: #ffffff;
            }
        </style>

        <script type="text/javascript">
            window.smartedit = {
                i18nAPIRoot: 'somepath'
            };
        </script>
    </head>

    <body custom-app="tabsetApp" data-ng-controller="defaultController as ctl">
        <h1>Generic Tabset Test</h1>

        <y-tabset
            data-model="ctl.componentData"
            tabs-list="ctl.tabsList"
            data-num-tabs-displayed="3"
        >
        </y-tabset>

        <br />
        <br />

        <button id="add-error1-button" ng-click="ctl.addErrorToTab(0)">Add Error To Tab1</button>
        <button id="add-error2-button" ng-click="ctl.addErrorToTab(2)">Add Error To Tab 3</button>
        <button id="reset-button" ng-click="ctl.resetErrors()">Reset Errors</button>
    </body>
</html>
