.yw-modal-createVirtualAttributeModal {
    min-height: 595px !important;
}

.yw-modal-createVirtualAttributeModal .z-hlayout .z-hlayout-inner:first-child{
    width: 250px;
}

.yw-modal-createVirtualAttributeModal [ytestid=TypeDropdown] .z-image{
    padding-bottom: 2px;
}

.yw-modal-createVirtualAttributeModal .yw-modal-virtualAttribute-toolTip.z-image{
    padding-bottom: 2px;
}

.yw-modal-createVirtualAttributeModal .z-hlayout.z-valign-middle{
    margin-top: 13px;
}

