# ---------------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# ---------------------------------------------------------------------------

timedaccesspromotionengineoccaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
timedaccesspromotionengineoccaddon.application-context=timedaccesspromotionengineoccaddon-spring.xml

# Specifies the location of the spring context file which will be added to commerce web services web context
ycommercewebservices.additionalWebSpringConfigs.timedaccesspromotionengineoccaddon=classpath:/timedaccesspromotionengineoccaddon/web/spring/timedaccesspromotionengineoccaddon-web-spring.xml

#Use for generating static swagger documentation
timedaccesspromotionengineoccaddon.documentation.static.generate=true
ext.timedaccesspromotionengineoccaddon.extension.webmodule.webroot=/rest/v2