# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

textfieldconfiguratortemplateaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
textfieldconfiguratortemplateaddon.application-context=textfieldconfiguratortemplateaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.textfieldconfiguratortemplateaddon=classpath:/textfieldconfiguratortemplateaddon/web/spring/textfieldconfiguratortemplateaddon-web-spring.xml



textfieldconfiguratortemplateaddon.javascript.paths.responsive=/responsive/common/js/textfieldconfiguratortemplateaddon.js
textfieldconfiguratortemplateaddon.css.paths.responsive=/responsive/common/css/textfieldconfiguratortemplateaddon.css
