.se-y-help-wrapper {
    cursor: pointer;
}
.se-y-help-icon {
    color: fd-color('action', 1);
    display: block;
    margin: 1px; // Fixes flickering of tooltip
}

.se-help .se-popover {
    width: 200px;
}
