# ---------------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# ---------------------------------------------------------------------------

selectivecartaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
selectivecartaddon.application-context=selectivecartaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.selectivecartaddon=classpath:/selectivecartaddon/web/spring/selectivecartaddon-web-spring.xml



selectivecartaddon.javascript.paths.responsive=/responsive/common/js/selectivecartaddon.js
selectivecartaddon.css.paths.responsive=/responsive/common/css/selectivecartaddon.css
