# ---------------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# ---------------------------------------------------------------------------

customercouponsamplesaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
customercouponsamplesaddon.application-context=customercouponsamplesaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.customercouponsamplesaddon=classpath:/customercouponsamplesaddon/web/spring/customercouponsamplesaddon-web-spring.xml
