<div class="se-active-catalog-thumbnail">
    <div class="se-active-catalog-version-container__thumbnail" (click)="onClick()">
        <div class="se-active-catalog-version-container__thumbnail__default-img">
            <div
                class="se-active-catalog-version-container__thumbnail__img"
                [ngStyle]="{'background-image': 'url(' + selectedVersion.thumbnailUrl + ')'}"
            ></div>
        </div>
        <div class="se-active-catalog-version-container__name">{{selectedVersion.version}}</div>
    </div>
</div>
