# ---------------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# ---------------------------------------------------------------------------

customerinterestsoccaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
customerinterestsoccaddon.application-context=customerinterestsoccaddon-spring.xml

# Specifies the location of the spring context file which will be added to commerce web services web context
ycommercewebservices.additionalWebSpringConfigs.customerinterestsoccaddon=classpath:/customerinterestsoccaddon/web/spring/customerinterestsoccaddon-web-spring.xml
