# ---------------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# ---------------------------------------------------------------------------

consignmenttrackingoccaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
consignmenttrackingoccaddon.application-context=consignmenttrackingoccaddon-spring.xml

# Specifies the location of the spring context file which will be added to commerce web services web context
ycommercewebservices.additionalWebSpringConfigs.consignmenttrackingoccaddon=classpath:/consignmenttrackingoccaddon/web/spring/consignmenttrackingoccaddon-web-spring.xml
