<div class="btn-block pe-toolbar-action--include">
    <div class="se-toolbar-menu-content se-toolbar-menu-content--pe-customized"
        role="menu">
        <div class="se-toolbar-menu-content--pe-customized__headers">
            <h2 class="se-toolbar-menu-content--pe-customized__headers--h2"
                data-translate="personalization.toolbar.library.header.title"></h2>
            <y-help class="se-toolbar-menu-content__y-help"
                data-template="'<span data-translate=personalization.toolbar.library.header.description></span>'"></y-help>
        </div>
        <div class="se-toolbar-menu-content--pe-customized__item">
            <a class="se-toolbar-menu-content--pe-customized__item__link"
                id="personalizationsmartedit-pagecustomizations-toolbar-customization-anchor"
                data-translate="personalization.toolbar.library.manager.name"
                data-ng-click="$ctrl.managerViewClick();item.isOpen=false"></a>
        </div>
        <div class="se-toolbar-menu-content--pe-customized__item se-toolbar-menu-content--pe-customized__item--last">
            <a class="se-toolbar-menu-content--pe-customized__item__link"
                id="personalizationsmartedit-pagecustomizations-toolbar-customization-anchor"
                data-translate="personalization.toolbar.library.customizationvariationmanagement.name"
                data-ng-click="$ctrl.createCustomizationClick();item.isOpen=false"></a>
        </div>
    </div>
</div>