# ---------------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# ---------------------------------------------------------------------------

customercouponoccaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
customercouponoccaddon.application-context=customercouponoccaddon-spring.xml

# Specifies the location of the spring context file which will be added to commerce web services web context
ycommercewebservices.additionalWebSpringConfigs.customercouponoccaddon=classpath:/customercouponoccaddon/web/spring/customercouponoccaddon-web-spring.xml
