<div data-ng-if="!$ctrl.isCombinedViewConfigured">
    <div class="pe-combined-view-panel__wrapper pe-combined-view-panel__wrapper--empty ">
        <img src="static-resources/images/emptyVersions.svg"
            alt="no Configurationss"
            class="pe-combined-view-panel--empty-img">
        <span class="pe-combined-view-panel--empty-text"
            data-translate="{{'personalization.toolbar.combinedview.openconfigure.empty' | translate}}"></span>
        <a class="fd-link pe-combined-view-panel--empty-link"
            data-ng-click="$ctrl.combinedViewClick()"
            data-translate="personalization.toolbar.combinedview.openconfigure.link"
            title="{{'personalization.toolbar.combinedview.openconfigure.link' | translate}}">
        </a>
    </div>
</div>

<div data-ng-if="$ctrl.isCombinedViewConfigured">
    <div class="pe-combined-view-panel__wrapper">
        <div class="pe-combined-view-panel__configure-layout">
            <button class="pe-combined-view-panel__configure-btn fd-button--light perso-wrap-ellipsis"
                data-ng-click="$ctrl.clearAllCombinedViewClick()"
                data-translate="personalization.toolbar.combinedview.clearall.button"
                title="{{'personalization.toolbar.combinedview.clearall.button' | translate}}">
            </button>
            <button class="pe-combined-view-panel__configure-btn fd-button perso-wrap-ellipsis"
                data-ng-click="$ctrl.combinedViewClick()"
                data-translate="personalization.toolbar.combinedview.openconfigure.button"
                title="{{'personalization.toolbar.combinedview.openconfigure.button' | translate}}">
            </button>
        </div>
        <div data-ng-class="$ctrl.combinedView.enabled ? '':'pe-combined-view-panel--disabled'">
            <div class="pe-combined-view-panel__list-layout"
                data-ng-repeat="item in $ctrl.selectedItems"
                data-ng-click="$ctrl.itemClick(item)"
                data-ng-class="{'pe-combined-view-panel-list__item--highlighted': item.highlighted}">
                <div class="pe-combined-view-panel-list__letter-layout">
                    <div data-ng-class="$ctrl.getClassForElement($index)"
                        data-ng-bind="$ctrl.getLetterForElement($index)"></div>
                </div>
                <div class="pe-combined-view-panel-list__names-layout">
                    <div class="perso-wrap-ellipsis"
                        data-ng-bind="item.customization.name"
                        title="{{item.customization.name}}"></div>
                    <div class="perso-wrap-ellipsis perso-tree__primary-data"
                        data-ng-bind="item.variation.name"
                        title="{{item.variation.name}}"></div>
                </div>
                <div class="pe-combined-view-panel-list__icon">
                    <span data-ng-if="!$ctrl.isItemFromCurrentCatalog(item.variation)"
                        class="perso__globe-icon sap-icon--globe"
                        data-uib-tooltip="{{item.variation.catalogVersionNameL10N}}"
                        data-tooltip-placement="auto top"
                        data-tooltip-enable="$ctrl.combinedView.enabled"></span>
                </div>
            </div>
        </div>
    </div>
</div>