.yw-modal-registerIOWithOAuthCredential-body {
    min-width: 400px;
    min-height: 600px;
}

.yw-integrationbackoffice-editor-splitlayout {
    border-top: 1px solid #d5d8dc;
}

.yw-integrationbackoffice-editor-white-background {
    margin-left: 10px;
}

.yw-integrationbackoffice-modal-body {
    border-top: 0px solid #d5d8dc;
}

.yw-integrationbackoffice-create-oauth-cred {
    display: block;
    margin-top: 20px;
    padding: 15px 0px 15px 0px;
}

.yw-integrationbackoffice-modal-label-user {
    padding: 5px 0px 5px 0px;
}

.yw-integrationbackoffice-modal-button {
    margin-top:70px;
    margin-right: 0px;
}