<div
    ui-tree-handle
    class="tree-node tree-node-content se-tree-node clearfix"
    data-ng-class="{ hovered: node.mouseHovered }"
    data-ng-mouseenter="$ctrl.onNodeMouseEnter(node)"
    data-ng-mouseleave="$ctrl.onNodeMouseLeave(node)"
>
    <div
        data-ng-show="!$ctrl.showAsList"
        class="se-tree-node__expander--wrapper col-xs-1 text-center"
    >
        <a
            class="se-tree-node__expander btn btn-link btn-sm"
            data-ng-if="$ctrl.hasChildren(this)"
            data-ng-disabled="$ctrl.isDisabled"
            data-ng-click="$ctrl.toggleAndfetch(this)"
        >
            <span
                data-ng-class="{'sap-icon--slim-arrow-right': collapsed,'sap-icon--slim-arrow-down': !collapsed}"
            ></span>
        </a>
    </div>

    <div data-ng-show="$ctrl.displayDefaultTemplate()" class="se-tree-node__name col-xs-5">
        <span>{{node.name | l10n}}</span>
        <h6 data-ng-show="node.title">{{node.title | l10n}}</h6>
    </div>

    <div
        data-ng-include="$ctrl.nodeTemplateUrl"
        data-ng-if="$ctrl.nodeTemplateUrl"
        data-include-replace
    ></div>
</div>
<ol
    data-ui-tree-nodes=""
    data-ng-model="node.nodes"
    data-ng-class="{hidden: collapsed}"
    class="se-tree-node__ol"
>
    <li
        data-ng-repeat="node in node.nodes"
        data-ui-tree-node
        data-ng-include="'treeNodeRendererTemplate.html'"
    ></li>
</ol>
