# ---------------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# ---------------------------------------------------------------------------

chinesepspalipaysamplesaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
chinesepspalipaysamplesaddon.application-context=chinesepspalipaysamplesaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.chinesepspalipaysamplesaddon=classpath:/chinesepspalipaysamplesaddon/web/spring/chinesepspalipaysamplesaddon-web-spring.xml

#chinesepspalipaysamplesaddon.javascript.paths.responsive=/responsive/common/js/chinesepspalipaysamplesaddon.js
#chinesepspalipaysamplesaddon.css.paths.responsive=/responsive/common/css/chinesepspalipaysamplesaddon.css
