# ---------------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# ---------------------------------------------------------------------------

timedaccesspromotionenginesamplesaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
timedaccesspromotionenginesamplesaddon.application-context=timedaccesspromotionenginesamplesaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.timedaccesspromotionenginesamplesaddon=classpath:/timedaccesspromotionenginesamplesaddon/web/spring/timedaccesspromotionenginesamplesaddon-web-spring.xml

