@import "cockpitng-globals.scss";

.yw-account-settings {

  &-change-password {

    &-line {
      display: block;
	  padding-bottom: $container-spacing-default__third;

	  &-notice {
        font-size: $font-size__small;
        color: $grey__default--200;
      }
	  &-label {
		display: block;
		padding-bottom: $container-spacing-default__third;
		color: $grey__default--200;
        font-weight: $font-weight-bold;
	  }
	  &-input {
		display: block;
	  }
	  &-validation {
        font-size: $font-size__small;
      }
    }

  }
}
