# ---------------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# ---------------------------------------------------------------------------

chinesetaxinvoiceaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
chinesetaxinvoiceaddon.application-context=chinesetaxinvoiceaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.chinesetaxinvoiceaddon=classpath:/chinesetaxinvoiceaddon/web/spring/chinesetaxinvoiceaddon-web-spring.xml
yb2bacceleratorstorefront.additionalWebSpringConfigs.chinesetaxinvoiceaddon=classpath:/chinesetaxinvoiceaddon/web/spring/chinesetaxinvoiceaddon-web-spring.xml
chinesetaxinvoiceaddon.javascript.paths.responsive=/responsive/common/js/chinesetaxinvoiceaddon.js
chinesetaxinvoiceaddon.css.paths.responsive=/responsive/common/css/chinesetaxinvoiceaddon.css
chinesetaxinvoiceaddon.awareof.addons=chinesepaymentaddon