#* @vtlvariable name="model" type="de.hybris.platform.core.model.ItemModel" *#
#* @vtlvariable name="class" type="java.lang.String" *#

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244 100" width="244" height="100">
	<style type="text/css">
		div.node-container {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			width: 240px;
			height: 100px;
			line-height: 0;
		}
		div.node-container-text {
			margin: 0 25px;
			max-height: 80pt;
			width: 190px;
			font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 22.8pt;
			line-height: 27.6pt;
			overflow: hidden;
			text-align: center;
			word-break: normal;
			display: -webkit-box;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		.action-start-outer {
			stroke: #0486E0;
			stroke-width: 4;
			fill: #fff
		}
		.action-start-text {
			color: #0486E0;
		}
		.action-start-outer.selected {
			fill: #D4E5FF;
		}
		.action-start-outer.in-progress {
			stroke: #5F7084;
			fill: #BEC8D3;
		}
		.action-start-text.in-progress {
			color: #fff;
		}
		.action-start-outer.completed {
			stroke: #7ED321;
		}
		.action-start-text.completed {
			color: #7ED321;
		}
		.action-start-outer.terminated {
			stroke: #ff3b30;
		}
		.action-start-text.terminated {
			color: #ff3b30;
		}
		.action-start-outer.pending {
			stroke: #BEC8D3;
		}
		.action-start-text.pending {
			color: #5F7084;
		}
	</style>
	<g>
		<rect class="action-start-outer $class" ry="47" width="240" height="94" y="2" x="2" fill="#0486E0"/>
		<foreignObject x="0" y="0" width="100%" height="100%">
			<div xmlns="http://www.w3.org/1999/xhtml" class="node-container">
				<div class="node-container-text action-start-text $class">
					#if (!$model.getName() || "$model.getName()" == "")
						<span>[$model.getCode()]</span>
					#else
						<span>$model.getName()</span>
					#end
				</div>
			</div>
		</foreignObject>
	</g>
</svg>