<div class="fluid-container ySEPageListResult">
    <p class="se-page-list__page-count" ng-if="$ctrl.displayCount">
        <span>({{ $ctrl.totalItems }} {{ 'se.pagelist.countsearchresult' | translate }})</span>
    </p>

    <table class="se-paged-list-table table table-striped table-hover techne-table">
        <thead>
            <tr>
                <th
                    data-ng-repeat="key in $ctrl.keys"
                    data-ng-click="$ctrl.orderByColumn(key.property)"
                    data-ng-style="{ 'width': $ctrl.columnWidth + '%' }"
                    class="se-paged-list__header"
                    data-ng-class="'se-paged-list__header-' + key.property"
                    ng-if="key.i18n"
                >
                    {{ key.i18n | translate }}
                    <span
                        class="header-icon"
                        ng-show="$ctrl.visibleSortingHeader === key.property"
                        ng-class="{ 'down': $ctrl.headersSortingState[key.property] === true, 'up': $ctrl.headersSortingState[key.property] === false }"
                    ></span>
                </th>

                <th class="se-paged-list__header"></th>
                <th
                    class="se-paged-list__header"
                    data-ng-if="$ctrl.dropdownItems !== undefined"
                ></th>
            </tr>
        </thead>
        <tbody class="se-paged-list__table-body">
            <tr
                data-ng-repeat="item in $ctrl.items | filterByField: $ctrl.query : $ctrl.getFilterKeys() : $ctrl.filterCallback | startFrom:($ctrl.currentPage - 1) * $ctrl.itemsPerPage | limitTo: $ctrl.itemsPerPage"
                class="techne-table-xs-right techne-table-xs-left se-paged-list-item "
            >
                <td ng-repeat="key in $ctrl.keys" ng-class="'se-paged-list-item-' + key.property">
                    <div
                        data-ng-if="$ctrl.renderers[key.property]"
                        compile-html="$ctrl.renderers[key.property](item, key)"
                    ></div>
                    <span data-ng-if="!$ctrl.renderers[key.property]"
                        >{{ item[key.property] }}</span
                    >
                </td>
                <td>
                    <img
                        data-ng-src="{{ item.visibilityIconSrc }}"
                        tooltip-placement="bottom"
                        tooltip="{{
                            'se.icon.tooltip.visibility' | translate: item.translationData
                        }}"
                    />
                </td>
                <td
                    data-ng-if="$ctrl.dropdownItems !== undefined"
                    has-operation-permission="'se.edit.page'"
                    class="paged-list-table__body__td paged-list-table__body__td-menu"
                >
                    <se-dropdown-menu
                        [dropdown-items]="$ctrl.dropdownItems"
                        [selected-item]="item"
                        class="pull-right"
                    ></se-dropdown-menu>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination-container ">
        <ul
            data-uib-pagination
            boundary-links="true "
            total-items="$ctrl.totalItems "
            items-per-page="$ctrl.itemsPerPage "
            ng-model="$ctrl.currentPage "
            class="pagination-lg "
            previous-text="&lsaquo; "
            next-text="&rsaquo; "
            first-text="&laquo; "
            last-text="&raquo; "
        ></ul>
    </div>
</div>
