<div class="se-toolbar-group">
    <se-toolbar
        css-class="se-toolbar--shell"
        image-root="imageRoot"
        toolbar-name="smartEditHeaderToolbar"
    ></se-toolbar>
    <se-toolbar
        css-class="se-toolbar--experience"
        image-root="imageRoot"
        toolbar-name="smartEditExperienceToolbar"
    ></se-toolbar>
    <se-toolbar
        css-class="se-toolbar--perspective"
        image-root="imageRoot"
        toolbar-name="smartEditPerspectiveToolbar"
    ></se-toolbar>
</div>
<div id="js_iFrameWrapper" class="iframeWrapper">
    <iframe id="ySmartEditFrame" src="" hy-dropabpe-iframe></iframe>
    <div id="ySmartEditFrameDragArea"></div>
</div>
