temp
jsTarget
node_modules
**/generated/**
web/app/smartedit/styling/shared/hyicon.less

smartedit-build/localization
smartedit-build/@types
smartedit-build/test/e2e/dummystorefront/imports/fonts
smartedit-build/webroot
smartedit-build/lib
smartedit-custom-build/lib


test/e2e/list.html
test/e2e/smartedit.html
test/utils/storefront.html

spring-integration-core-4.1.0.RELEASE.jar
spring-integration-http-4.1.0.RELEASE.jar
/web/webApplicationInjector.js
/web/webroot/
/coverage/
/classes/
**/generated_*