# ---------------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# ---------------------------------------------------------------------------

timedaccesspromotionengineaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
timedaccesspromotionengineaddon.application-context=timedaccesspromotionengineaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.timedaccesspromotionengineaddon=classpath:/timedaccesspromotionengineaddon/web/spring/timedaccesspromotionengineaddon-web-spring.xml




